.container {
 position: sticky;
 top: 0;
 z-index: 98;
 height: 100px;
 width: 100%;
 display: flex;
 padding: 0 25px;
 background-color: #CD104D;
 align-items: center;
 justify-content: space-between;

 transition: all 1s ease;
}

.item {
 flex: 1;
 display: flex;
 align-items: center;
}

.item:nth-child(2) {
 flex: 3;
}

.item:nth-child(3) {
 justify-content: flex-end;
 position: relative;
 cursor: pointer;
}

.img {
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 background-color: white;
 padding: 10px;
 margin-right: 5px;
}

.text:nth-child(1) {
 color: white;
 font-size: 12px;
 font-weight: 500;
 cursor: pointer;
}

.text:last-child {
 color: white;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
}

.list {
 display: flex;
 justify-content: space-between;
 width: 100%;
 height: 100%;
 align-items: center;
 list-style: none;
}

.listItem {
 font-size: 17;
 font-weight: 500;
 cursor: pointer;
 color: white;
}

.counter {
 background-color: white;
 color: #d1411e;
 height: 20px;
 width: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
 top: -10px;
 right: -10px;
 position: absolute;
 cursor: pointer;

}

@media screen and (max-width:480px) {
 .item:nth-child(2) {
  display: none
 }

 .item:nth-child(1) {
  flex: 6;
 }
}
