.container {

 display: flex;
 flex-direction: column;

 align-items: center;

}

.desc {
 font-size: 18px;
 color: gray;
 width: 60%;

}

.wrapper {
 display: flex;
 flex-wrap: wrap;

}

@media screen and (max-width:480px) {
 .title {
  text-align: center;
 }

 .desc {
  width: 90%;
  text-align: center;
 }

 .wrapper {
  flex-direction: column;
  align-items: center;
 }
}